@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
/* universal style start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
}
.button-primary {
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/* universal style end */
/* header section style start */
.header {
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.h-logo {
  color: #131313;
}
.h-menu ul {
  display: flex;
  column-gap: 30px;
}
.h-menu ul li {
  list-style-type: none;
  text-align: center;
}
.h-menu ul li a {
  text-decoration: none;
  color: #424242;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

/* navber section style */
.nav {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.nav-details {
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.nav-details h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
}
.nav-details p {
  padding: 20px 0 20px 0;
}
.nav-banner {
  height: auto;
  width: 100%;
  /* display: inline; */
}
.nav-banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  /* width:100%; */
  /* max-width: 700px; */
  /* position:absolute;  */
  /* top:0;
    left:0;
    right:0;
    bottom:0;  */
  /* margin:0  auto;
   object-fit: cover; */
}
/* Main section style feature */
.features {
  padding-top: 10px;
  display: flex;
  width: 100%;
  /* height: 50vh; */
  padding-bottom: 20px;
}
.feature-img {
  padding-left: 100px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.feature-img p img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.feature-info {
  width: 50%;
  text-align: start;
  padding: 10rem 5rem;
}
.feature-title {
  color: #727272;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 30px;
}
.feature-title-part {
  color: #131313;
  font-weight: 700;
}
.feature-title-part1 {
  color: #ff900e;
  font-weight: 700;
}
/* main Experience section start */
.experiences{
    width: 100%;
    padding: 0 100px;
    display: flex;
}
.experiences-info{
    width: 50%;

}
.ex-title{
    color: #131313;
    font-size: 30px;
    padding-left: 10px;
    
    border-left: 3px solid #ff900e;
}
.ex-discription{
    padding: 10px 0 20px 0;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.ex-details{
    /* width: 90%; */
    padding: 20px;
    margin-top: 2px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.ex-details h3{
    padding: 10px;
    color: #131313;
}
.ex-details p{
     color: #727272;
      font-size: 16px;
}
.ex-image{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ex-image img{
    
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 90%;
    z-index: -1;
}
.button-special{
position: absolute;
    z-index: 1;
    display: block;
   /* margin-left: auto; */
   margin-right: auto;
   margin-top: -50px;
   padding: 15px;
   font-size: 30px;
   background-color: #ff900e;
   border: none;
   border-radius: 10px;
   color: #ffffff;
   cursor: pointer;
}
.some-facts{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.fact-info h2{
    padding-bottom: 15px;
    font-size: 30px;
}
.fact-info p{
    padding-bottom: 30px;
    color: #727272;
}
.fact-card{
    display: flex;
    justify-content: space-evenly;
}
.card{
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    animation-name: card;
    animation-duration: 10s;
    background-color: #ff900e;
    color: white;
}
@keyframes card {
  from {background-color:#ff900e;
padding: 30px;}
  to {background-color: rgb(74, 74, 4);
padding: 50px;}
}
.card-value{
    color: #131313;
    color: white;
    font-weight: bold;
}
/* our sponspors */
.sponspors{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.sponspors h1{
    font-size: 40px;
    padding-bottom: 30px;
}
.sponspors p{
    font-weight: 16px;
    color: #727272;
    padding-bottom: 20px;
}
.sponspors p img{
    color: #727272;
    mix-blend-mode: luminosity;
    padding: 30px;
}
/* project-planning section */
.project-planning{
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    padding-bottom: 100px;
}
.project-planning h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.project{
    display: flex;
    
}
.project-img{
  width: 50%;  
}
.project-img img{
    width: 90%;
    padding-right: 30px;
    
}
.project-discription{
    padding-top: 50px;
    width: 50%;
    padding-left: 30px;
    text-align: start;
}
.project-discription h2{
    font-size: 30px;
    padding: 20px;
}
.project-discription p{
    padding-left: 20px;
    width: 500px;
    font-size: 20px;
    color: #727272;
    padding-bottom: 30px;
    /* border: 1px solid; */
}
footer{
    text-align: center;
    padding: 50px;
    background-color: #ff8f0ee2;
    margin: 100px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 24px;
}



@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .h-menu ul {
    column-gap: 5px;
    justify-content: center;
  }
  .h-menu ul li {
    padding-top: 20px;
  
    padding-bottom: 10px;
  }
  .h-menu ul li a {
    text-align: center; font-size: 17px;
  }
  /* .nav{
    height: 80vh;
} */
  .nav-details h1 {
    font-size: 30px;
  }
  .nav-details p {
    font-size: 16px;
    padding: 10px;
  }
  .nav-banner img {
    top: -50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .features {
    flex-direction: column;
    width: 100%;
  }
  .feature-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-info {
    width: 100%;
  }
  .feature-info p {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .experiences{
    flex-direction: column-reverse;
    padding: 0 10px;
  }
  .ex-image{
    width: 100%;
    margin-top: -70px;
    padding-bottom: 30px;
    
  }
  .experiences-info {
    padding-top: 50px;
    width: 100%;
}
.some-facts{
    padding-left: 30px;
    padding-right: 30px;
}
.fact-card{
    flex-direction: column;
    
}
.card{
    margin-bottom: 10px;
}
.sponspors{
    padding-left: 30px;
    padding-right: 30px;
}
.project-planning{
    padding-left: 20px;
    padding-right: 20px;
}
.project-planning h1{
    font-size: 25px;
}
.project{
    flex-direction: column;
}
.project-img{
    width: 100%;
   
}
.project-img img{
    padding-right: 0px;
    width: 100%;
}
.project-discription{
    width: 100%;
    text-align: center;
}
.project-discription p{
    width: 90%;
    font-size: 16px;
    padding-left: 0px;
}
}
