@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
/* universal style start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
}
.button-primary {
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background: #ff900e;
  border-radius: 8px;
  border: none;
}
/* universal style end */
/* header section style start */
.header {
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.h-logo {
  color: #131313;
}
.h-menu ul {
  display: flex;
  column-gap: 30px;
}
.h-menu ul li {
  list-style-type: none;
  text-align: center;
}
.h-menu ul li a {
  text-decoration: none;
  color: #424242;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

/* navber section style */
.nav {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.nav-details {
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.nav-details h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
}
.nav-details p {
  padding: 20px 0 20px 0;
}
.nav-banner {
  height: auto;
  width: 100%;
  /* display: inline; */
}
.nav-banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  /* width:100%; */
  /* max-width: 700px; */
  /* position:absolute;  */
  /* top:0;
    left:0;
    right:0;
    bottom:0;  */
  /* margin:0  auto;
   object-fit: cover; */
}
/* Main section style feature */
.features {
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 50vh;
}
.feature-img {
  padding-left: 100px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.feature-img p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-info {
  width: 50%;
  text-align: start;
  padding: 10rem 5rem;
}
.feature-title {
  color: #727272;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 30px;
}
.feature-title-part {
  color: #131313;
  font-weight: 700;
}
.feature-title-part1 {
  color: #ff900e;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .h-menu ul {
    column-gap: 5px;
    justify-content: center;
  }
  .h-menu ul li {
    padding-top: 20px;

    padding-bottom: 10px;
  }
  .h-menu ul li a {
    text-align: center;
  }
  /* .nav{
    height: 80vh;
} */
  .nav-details h1 {
    font-size: 30px;
  }
  .nav-details p {
    font-size: 16px;
    padding: 10px;
  }
  .nav-banner img {
    top: -50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .features {
    flex-direction: column;
    width: 100%;
  }
  .feature-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-info {
    width: 100%;
  }
  .feature-info p {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
